{% load static %}

{% comment %} {% if form.non_field_errors %}
    <div class="pspsp">
        <p class="f40 daj-c">Test includes</p>
    </div>
{% endif %} {% endcomment %}

<div class="daj-c not-box" id="js-alert-box">
    <div class="daj-c krug">
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    <div class="not-txt" role="alert">
                        <p id="notification" class="notif-text-s font-color-all-white nom fw500 f20">{{ msg }}</p>
                    </div>
                {% endif %}
                {% if msg.tags == 'warning' %}
                    <div class="not-txt" role="alert">
                        <p id="notification" class="notif-text-w font-color-all-white nom f20">{{ msg }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="not-txt" role="alert">
                <p id="jq-notification" class="notif-text-s font-color-all-white nom f20"></p>
            </div>
        {% endif %}
    </div>
</div>