html {
    height: 100%;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

body {
    background: none;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(/static/deps/fonts/proximanova_regular.ttf);
}

ul,
li {
    list-style-type: none;
}

#rb {
    background-color: red;
}

.nom {
    margin: 0;
}

.nop {
    padding: 0;
}

.daj-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nf {
    font-family: 'Proxima Nova', Arial, sans-serif;
}

.f40 {
    font-size: 40px;
}

.f32 {
    font-size: 32px;
}

.f26 {
    font-size: 26px;
}

.f20 {
    font-size: 20px;
}

.f18 {
    font-size: 18px;
}

.f16 {
    font-size: 16px;
}

.f14 {
    font-size: 14px;
}

.f12 {
    font-size: 12px;
}

.fcb {
    color: #132041;
}

.fcb-l {
    color: #4F6AA4;
}

.fcb-ll {
    color: #4F6A84;
}

.fcr {
    color: #C21631;
}

.ffc {
    color: #A0B3C6;
}

.non-dec {
    text-decoration: none;
}

.lh12 {
    line-height: 12pt;
}

.lh01 {
    line-height: 0.1pt;
}

.font-color-all {
    color: #B4B4B4;
}

.font-color-all-white {
    color: #ffffff;
}

.font-weight {
    font-weight: 700;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.now {
    text-wrap: nowrap;
}

.jc-s{
    display: flex;
    justify-content: start;
}

header {
    background: none;
    width: 100vw;
    height: 100px;
    padding: 15px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0px;
}

.bg-ul-bl {
    background-color: #FAFCFF;
    padding-bottom: 30px;
}

.logo-header {
    height: 48px;
    width: 158px;
}

.nav-url {
    text-decoration: none;
    color: #132041;
    font-size: 18px;
    width: 100%;
    height: auto;
}

.catalog-menu {
    background: none;
    border: none;
    cursor: pointer;
}

.ic-catal {
    fill: #132041;
    width: 14px;
    height: auto;
    margin-left: 6px;
}

.cat-lab {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.menu-box {
    position: absolute;
    top: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    min-width: 200px;
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    padding: 15px;
    transition: all .5s ease;
    border-radius: 0.375rem;
    background-color: #ffffff;
}

.temp-box-catalog:hover .menu-box {
    visibility: visible;
    z-index: 1;
}

.temp-box-catalog:hover .nav-url {
    color: #C21631;
}

.temp-box-catalog:hover .ic-catal {
    fill: #C21631;
}

.h-menu {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border-radius: 0.3rem;
}

.temp-box-catalog {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-elements {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
}

.nav-url:hover,
.h-menu:hover {
    color: #C21631;
}

.nav-url:hover .ic-catal {
    fill: #C21631;
}

.h-menu:hover .ic-catal {
    fill: #C21631;
}

.h-menu:hover {
    background-color: AliceBlue;
}

header ul {
    list-style: none
}

.nav-icon {
    height: 35px;
    width: 35px;
}

main .features {
    float: none;
    text-align: center;
    color: black;
    margin-top: 50px;
    width: 100vw;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    font-size: 26px;
    max-width: 100vw;
    margin: 20px;
}

.footer-cls {
    background-color: #030E2A;
    width: 100vw;
    height: auto;
    margin-bottom: 0px !important;
    text-align: center;
    padding-top: 90px;
}

footer h1 {
    margin-bottom: 0px !important;
}

.footer-container {
    width: 1150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-c-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 260px;
    height: auto;
}

.f-c-title {
    width: auto;
    height: auto;
    float: left;
    margin-bottom: 2rem;
}

.ftt {
    font-size: 26px;
}

.ft-urls {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.f-c-url {
    margin-bottom: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #A0B3C6;
}

.f-c-url:hover {
    color: #ffffff;
}

.ft-sub-form {
    display: flex;
    float: start;
    width: 100%;
    height: auto;
}

.sub-inp {
    position: relative;
    border: none;
    padding: 0px 20px;
    border: 1px solid #A0B3C6;
    border-radius: 0.5rem;
    background: none;
    width: 100%;
    height: 3rem;
    color: #A0B3C6;
    font-weight: 500;
}

.sub-inp::placeholder {
    color: #A0B3C6;
    font-weight: 500;
}

.sub-inp:focus {
    border: none;
    border: 1px solid #C21631;
    outline: none;
    cursor: text;
    background: none;
    color: #9CA3AF;
    font-weight: 500;
}

.ft-ent-btn {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    bottom: 12.9%;
    right: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #C21631;
    border-radius: 0.5rem;
}

.feb-i {
    width: 20px;
    height: 20px;
}

.f-c-text {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    align-items: start;
}

.ftww {
    word-break: normal;
    font-weight: 500;
}

.f-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.f-ic {
    margin-right: 20px;
}

.f-icon {
    width: 36px;
    height: 36px;
    transition: all .1s ease;
}

.f-icon:hover {
    transform: scale(110%);
}

.f-img {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: start;
}

.f-logo-company {
    height: 48px;
    width: 158px;
}

.footer-copyright {
    border-top: 1px solid #A0B3C6;
    padding: 28px 0px;
    width: 100%;
}

.f-t-cr {
    color: #A0B3C6;
    font-weight: 500;
    font-size: 1rem;
}

.nu-login {
    padding: 8px 24px;
    border-radius: 0.375rem;
    border: 2px solid #C21631;
    background-color: #C21631;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.usericon {
    margin-right: 10px;
}

/* .login:hover{
    border: 2px solid #5142FC;
    background-color: #5142FC;
} */

.h-nav-content {
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.section-showcase {
    width: 100vw;
    padding-top: 20px;
}

#ss-spec {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid whitesmoke;
}

.uniq-container {
    height: auto;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    border-bottom: none;
    border-top: none;
}

.rand-prd-sect {
    background-color: #EDF6FF;
}

.prd-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prd-card-box {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: 250px;
    height: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px 18px 35px 18px;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.prd-card-box:hover {
    border: 1px solid #132041;
}

.prd-img {
    min-width: 150px;
    height: 100%;
    border-radius: 10px;
    transition: all .5 ease-in-out;
}

.prd-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    cursor: pointer;
}

.prd-img:hover {
    height: 190px;
    margin-bottom: 0;
}

.prd-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: auto;
}

.pn-of {
    overflow: hidden;
    text-wrap: nowrap;
    position: relative;
}

.pn-of::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, .3) 5%,
            rgba(255, 255, 255, 0) 20%);
}

.iap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iap-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disc-p {
    margin-right: 8px;
}

.disc-img {
    position: absolute;
    top: 10px;
    left: 15px;
}

.di-relat {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.svg-discount {
    width: 55px;
    height: 24px;
}

.svg-discount-10 {
    width: 65px;
    height: 24px;
}

.disc-txt {
    position: absolute;
    top: 0;
    left: 10px;
}

.prd-btn {
    height: 46px;
    width: 100%;
}

.btn-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-cart-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart-img {
    margin-right: 12px;
}

.btn-order {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 46px;
    background: none;
    border-radius: 0.375rem;
    border: 1px solid #132041;
    cursor: pointer;
    padding: 4px 15px;
    transition: all .3s ease;
}

.cart-icon {
    fill: #132041;
    width: 1.75rem;
    height: 1.75rem;
    transition: all .3s ease;
}

.bct {
    transition: all .3s ease;
}

.btn-order:hover {
    border: 1px solid #C21631;
    background-color: #C21631;
}

.btn-order:hover .cart-icon {
    fill: #ffffff;
}

.btn-order:hover .bct {
    color: #ffffff;
}

.uniq-title {
    border-bottom: 1px solid #2C2C37;
    height: 75px;
    margin: 0px;
}

.title-showcase {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #132041;
}

.info-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iboard-text {
    align-items: center;
    justify-content: center;
    width: 525px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.msg-welcome {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.iboard-title {
    word-wrap: break-word;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.iboard-msg {
    word-wrap: break-word;
}

.scroller {
    width: 620px;
    height: 500px;
    margin: 0;
    position: relative;
}

.sc-inner {
    width: 2500px;
    height: 500px;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: 
    linear-gradient(
        90deg, 
        transparent,
        #FAFCFF 10%,
        #FAFCFF 90%, 
        transparent
    );
    mask: linear-gradient(90deg, transparent, #FAFCFF 10%, #FAFCFF 90%, transparent);
}

.scroller[data-animated="true"] .sc-inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)  linear infinite;
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}

.sil-img{
    width: 500px;
    height: 500px;
}

.iboard-btns {
    width: 575px;
    height: auto;
    display: flex;
}

.btn-explore {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #C21631;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    padding: 12px 28px;
    margin: 0px 20px 0px 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pub {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border-radius: 0.375rem;
    border: 2px solid #4F6A84;
    background-color: #4F6A84;
    cursor: pointer;
    padding: 12px 28px;
    height: 60px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pub:hover {
    border: 2px solid #24405B;
    background-color: #24405B;
}

.pop-sect {
    background-color: #FAFCFF;
    padding-bottom: 30px;
}

#spec-tp {
    border: none;
    display: flex;
    align-items: center;
}

.title-popular {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #132041;
}

.tp-btn {
    width: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-local {
    padding: 12px 28px;
    text-decoration: none;
    background-color: #4F6A84;
    border-radius: 0.375rem;
    font-weight: 700;
}

.btn-local:hover {
    background-color: #24405B;
}

.pop-list {
    width: 100%;
    padding: 0px 18px 0px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pop-card-box {
    background-color: #132041;
    width: 540px;
    height: 480px;
    border-radius: 0.75rem;
    border: 1px solid #132041;
    padding: 15px 18px;
    position: relative;
}

.hto-section {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #EDF6FF;
}

.hto-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.hto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hto-text {
    font-weight: 700;
    font-size: 18px;
}

.hto-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px 18px;
}

.inst-box {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.375rem;
    border: 1px solid #A0B3C6;
    transition: all .3s ease;
    margin-bottom: 30px;
    padding: 15px;
}

.inst-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.hto-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 15px;
}

#hi-1 {
    background-color: #132041;
}

#hi-2 {
    background-color: #A0B3C6;
}

#hi-3 {
    background-color: #FFCC00;
}

#hi-4 {
    background-color: #DB5472;
}

.htoi {
    width: 38px;
    height: 38px;
    fill: #ffffff;
}

.fuc {
    color: #4F6A84;
}

.fuc1 {
    color: #434A5F;
}

.inst-box:hover {
    background-color: #4F6A84;
}

.inst-box:hover .fuc {
    color: #ffffff;
}

.post-sect {
    padding: 50px 0px 50px 0px;
}

.bc-cont {
    padding: 0px 18px;
}

.bread-crumbs {
    width: 100%;
    padding: 20px 32px;
    background-color: #1A3856;
    border: 2px solid #1A3856;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}

.bc-slash {
    padding: 0px 12px;
    font-weight: 700;
}

.bc-content {
    width: 100%;
}

.bc-text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-cont {
    padding-top: 50px;
    margin-bottom: 60px;
}

.un-post {
    padding: 0px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2C2C39;
    border-radius: 0.75rem;
    border: 1px solid #4D4C5A;
    padding: 12px 18px;
    margin-bottom: 25px;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.post-img {
    width: 250px;
    height: 250px;
    background-color: #5142FC;
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-text {
    padding: 0px 32px;
}

.bc-sect {
    background-color: #FAFCFF;
    padding: 35px 0px;
}

.auth-sect {
    background-color: #EDF6FF;
    padding-bottom: 80px;
}

.auth-cont {
    padding: 0px 18px;
}

.auth-form-box {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #A0B3C6;
    display: flex;
    flex-direction: row;
}

.nice-bg {
    width: 480px;
    height: auto;
    position: relative;
}

.auth-img-bg {
    width: 480px;
    height: 100%;
    left: -100px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.opas-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5142FC;
    opacity: 0.35;
}

.auth-form {
    width: 100%;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form-title {
    margin-bottom: 25px;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.l-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.auth-inp {
    padding: 12px 28px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: none;
    border: 1px solid #E0E0E0;
    font-size: 20px;
    font-weight: 500;
    color: #4F6A84;
}

.auth-inp::placeholder {
    color: #4F6A84;
}

.auth-inp:focus {
    background-color: none;
    border: none;
    border: 1px solid #C21631;
    border-color: #C21631;
    outline: none;
    cursor: text;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.35);
}

.abb {
    margin-top: 40px;
    padding: 12px 28px;
    background-color: #C21631;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
}

.abb:active {
    position: relative;
    top: 1px;
}

.add-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 28px;
}

.add-inf-la {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.chb-inp {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    color: #132041;
}

.remm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.remm-l {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.remm-l,
.forg-p-url,
.reg-url {
    text-decoration: none;
    font-weight: 500;
    color: #132041;
}

.remm-lr {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.forg-p-url:hover,
.reg-url:hover {
    font-weight: 500;
    color: #DB5472;
}

.lic-agr {
    color: #DB5472;
    text-decoration: underline;
}

.accept-tac {
    margin-bottom: 10px;
}

.abb-reg {
    margin: 0px;
}

.profile-sect {
    padding-bottom: 60px;
}

.prof-cont {
    padding: 0px 18px;
    position: relative;
}

.user-profile-box {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    position: relative;
}

.user-menu {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C39;
    border: 1px solid #4D4C5A;
    border-radius: 0.5rem;
}

.user-avatar {
    width: 100%;
    height: 200px;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.us-back-l {
    width: 100%;
    height: 100px;
    background-color: #5142FC;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.us-img {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    overflow: hidden;
}

.ui-m {
    width: 75px;
    height: 75px;
    margin-top: auto;
    margin-bottom: auto;
}

.usn-text {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.u-nick {
    font-weight: 700;
    color: #9CA3AF;
    font-size: 22px;
}

.user-menu-btns {
    width: 100%;
    height: auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #4D4C5A;
    margin-bottom: 15px;
}

.umb-el {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    border: 1px solid #4D4C5A;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background-color: #353444;
}

.umb-el:hover {
    background-color: #454457;
    border: 1px solid #454457;
    cursor: pointer;
}

.user-proile-inf {
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.upi-title {
    width: 100%;
    padding: 20px 40px;
    background-color: #2C2C39;
    border: 1px solid #4D4C5A;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

.upi-text {
    font-size: 30px;
}

.upm-ico {
    width: 26px;
    height: 26px;
    margin-right: 25px;
}

.upi-content {
    width: 100%;
    height: 100%;
    background-color: #2C2C39;
    border: 1px solid #4D4C5A;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 28px;
}

.cm-scroll {
    width: 220px;
    height: 100%;
    position: sticky;
    top: 100px;
    overflow: hidden;
}

.cat-side-menu {
    width: auto;
    height: auto;
    max-height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
    background-color: #ffffff;
    border: 1px solid #A0B3C6;
    border-radius: 0.5rem;
}

#csm-filt {
    margin-top: 12px;
}

.cat-sect {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 80px;
    background-color: #EDF6FF;
}

.cat-cont {
    padding: 0px 18px;
    position: relative;
    justify-content: space-between;
}

.smarg {
    margin: 0px 0px 10px 0px;
}

.ut {
    font-size: 30px;
}

.cat-m-tit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmb-list {
    display: flex;
    flex-direction: column;
}

.en-dash-0 {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #4D4C5A;
    margin-bottom: 15px;
}

.cm-btn {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 10px;
    margin-left: 12px;
}

.cm-url {
    text-decoration: none;
    font-size: 20px;
}

.csm-ic {
    margin-left: 4px;
    width: 28px;
    height: auto;
    fill: #4F6A84;
}

.cic-p {
    width: 22px;
}

#csmi-m {
    fill: #132041;
}

.cm-url:hover {
    color: #DB5472;
}

.cm-url:hover .csm-ic {
    fill: #DB5472;
}

.cat-right-cont {
    width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cat-search-l {
    width: 100%;
    height: auto;
}

.csl-inp {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #A0B3C6;
    border-radius: 0.5rem;
    color: #4F6A90;
    font-weight: 500;
    cursor: text;
}

.csl-inp::placeholder {
    color: #4F6A90;
    font-weight: 500;
}

.csl-inp:focus {
    border: none;
    outline: 0;
    cursor: text;
    border: 1px solid #C21631;
    color: #4F6A90;
    font-weight: 500;
}

.cat-prds-list {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px 50px;
    grid-template-rows: auto;
    padding: 12px 0px;
    overflow: hidden;
}

.cpl-el-box {
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #353444;
    border-radius: 0.5rem;
    border: 1px solid #4D4C5A;
}

.cpl-img-box {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.cpl-img-box:hover {
    height: 200px;
}

.cpl-img {
    width: 250px;
    height: auto;
    cursor: pointer;
}

.cpl-img:hover {
    position: relative;
    animation: movetop .3s ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: all;
}

.cpl-img:not(:hover) {
    position: relative;
    animation: movebot .3s ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: all;
}

@keyframes movetop {
    from {
        top: 0px
    }

    to {
        top: -20px
    }
}

@keyframes movebot {
    from {
        top: -20px
    }

    to {
        top: 0px
    }
}

.cpl-content {
    width: 100%;
    height: auto;
    padding: 12px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
}

.cpl-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cpl-id {
    margin-bottom: 15px;
}

.cb-btn {
    width: 100%;
    padding: 4px 16px;
    background: none;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 0.35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .3s ease;
}

.cb-btn:hover {
    border: 1px solid #5142FC;
    background-color: #5142FC;
}

.ctx {
    font-weight: 500;
}

.cb-btn:active {
    position: relative;
    top: 1px;
}

.cb-btn-img {
    width: 25px;
    height: 25px;
}

.pag-cont {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pn-active {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 0.2rem;
    border: 1px solid #132041;
    background-color: #C21631;
    padding: 0.35rem 1rem;
    pointer-events: none;
    cursor: default;
}

.pn-disable {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #9A9A9A;
    font-size: 18px;
    border-radius: 0.2rem;
    border: 1px solid #132041;
    background-color: #D3D3D3;
    padding: 0.35rem 1rem;
    pointer-events: none;
    cursor: default;
}

.pc-box {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pag-prev {
    margin-right: 10px;
}

.pag-next {
    margin-left: 10px;
}

.pag-num-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pag-num {
    padding: 0px 4px;
}

.pn-url {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #132041;
    font-size: 18px;
    border-radius: 0.2rem;
    border: 1px solid #132041;
    background-color: #ffffff;
    padding: 0.35rem 1rem;
    transition: all 0.3s ease;
}

.pn-url:hover {
    background-color: #C21631;
    color: #ffffff;
}

.pop-imgs {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pi-left {
    width: 300px;
    height: 100%;
    overflow: hidden;
    background-color: #AEE2B4;
    border-radius: 0.5rem;
}

.pop-img-left {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.pi-right {
    width: 175px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-img-right-1 {
    width: 75%;
    height: 75%;
    background-color: #A8ECF5;
    border-radius: 0.5rem;
    margin-bottom: 26px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pir-1,
.pir-2 {
    width: 80%;
    height: auto;
}

.pop-img-right-2 {
    width: 75%;
    height: 75%;
    background-color: #E9E9E9;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-tit-fav {
    min-height: auto;
    height: auto;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.ptf-txt {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ptf-num {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.ptf-heart {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.ptf-p {
    font-size: 24px;
}

.ptf-likes {
    height: 24px;
    padding: 1px 4px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ppm {
    font-size: 20px;
}

.pcb-mon {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #C21631;
    border: 1px solid #C21631;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 7%;
}

.pcb-inb {
    width: 100%;
    height: 100%;
}

.pi-left-an {
    width: 165px;
    height: 100%;
    overflow: hidden;
    background-color: #D1D0FF;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pil-an {
    width: 130px;
    height: auto;
}

.pci-1 {
    width: auto;
    height: auto;
    background-color: #FFC2AE;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pci-2 {
    width: auto;
    height: auto;
    background-color: #C6EEE4;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pop-imgs-trio {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pit-cont-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pit-cont {
    width: 100%;
    height: 150px;
    background-color: #FFF6DD;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-img-1 {
    width: 125px;
    height: auto;
}

.pc-img-2 {
    width: 130px;
    height: auto;
}

.pc-img-3 {
    width: 130px;
    height: auto;
}

.sup-sect {
    padding-bottom: 80px;
}

.sup-conta {
    padding: 0px 18px;
}

.sup-form-box {
    width: 100%;
    height: 800px;
    background-color: none;
    border: 1px solid #A0B3C6;
    border-radius: 0.5rem;
    overflow: hidden;
}

.sfb-img-con {
    width: 100%;
    height: auto;
    background-color: #DB5472;
    border: none;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: 0.8rem;
}

.sfb-img {
    width: 100%;
    height: 200px;
}

.sfb-content {
    width: 100%;
    height: auto;
    padding: 12px 18px;
}

.sfbc-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #4D4C5A;
    margin-bottom: 20px;
}

.sup-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sf-inp {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.sfi-lab {
    color: #132041;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}

.fl-split {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px 180px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.sfi-inpc {
    border: none;
    outline: 0;
    background: none;
    padding: 12px 28px;
    border-radius: 0.375rem;
    cursor: text;
    background-color: none;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    font-weight: 600;
    color: #4F6A84;
}

.sfi-inpc:focus {
    background-color: none;
    border: none;
    border: 1px solid #C21631;
    outline: none;
    cursor: text;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.35);
}

.sfi-inpc::placeholder {
    color: #4F6A84;
    font-weight: 500;
}

.sfi-txt {
    width: 100%;
    height: auto;
    padding: 0px 180px;
}

.sfii-txt {
    resize: none;
}

.abt-conta {
    padding: 0px 18px;
}

.ab-split-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abt-img-bg {
    width: auto;
    height: auto;
    border-radius: 0.375rem;
    overflow: hidden;
}

.aib {
    width: 500px;
    height: 484px;
    border-radius: 0.375rem;
}

.osk {
    padding-bottom: 20px;
    border-bottom: 1px solid #4D4C5A;
    margin-bottom: 20px;
}

.ab-sect {
    background-color: #EDF6FF;
}

.asb-cont {
    width: 580px;
    height: auto;
    border: 1px solid #A0B3C6;
    border-radius: 0.375rem;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;

}

.intell-list {
    padding: 12px 30px;
}

.tstx {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.adesc-sect {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #EDF6FF;
}

.adesc-conta {
    padding: 0px 18px;
}

.abt-big-txt {
    margin-bottom: 12px;
}

.abt-big-txt-nom {
    margin: 0px;
}

.adesc-cont {
    width: 100%;
    height: auto;
    padding: 12px 15px;
    border: 1px solid #A0B3C6;
    border-radius: 0.375rem;
}

#mic-tit {
    position: absolute;
    z-index: 1;
    background-color: #EDF6FF;
    padding: 0px 10px;
}

.bef-tit {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: red;
    margin-bottom: 32px;
}

.bef-tit:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 13px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #132041;
}

.ppb-tit {
    color: #132041;
    font-weight: 600;
}

.ppb-title {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.pp-sect {
    background-color: #EDF6FF;
    padding: 30px 0px;
}

.pp-cont {
    padding: 0px 18px;
}

.prd-p-box {
    width: 100%;
    min-height: 600px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 0.65rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ppb-all-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pac-box {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.ppbic-sl-btns {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.sl-btn {
    position: relative;
    width: 65px;
    height: 100%;
    background-color: #FAFCFF;
    border-radius: 1rem;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sl-btn::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10px;
    width: 4px;
    height: 100%;
    background-color: #C21631;
    visibility: hidden;
}

.sl-btn:hover::before {
    visibility: visible;
}

.pib-slides {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sl-btn:hover+.pib-prd {
    position: absolute;
    top: -500px;
}

.slb-img {
    width: 50px;
    height: auto;
}

.ppb-ic-big {
    width: 500px;
    height: 500px;
    background-color: #FAFCFF;
    overflow: hidden;
}

.pib-prd {
    width: 100%;
    height: auto;
}

.pdes-url {
    text-decoration: none;
    color: #0D61AF;
}

.pdes-url:hover {
    color: #DB5472;
}

.adp-cont-box {
    width: 100%;
    height: auto;
}

.benk {
    color: red;
}

.adp-label {
    width: 100%;
    height: 130px;
    background-color: #ffffff;
    border-radius: 0.65rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.adp-price-l {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.di-pr {
    color: #A0B3C6;
    font-size: 18px;
    margin-left: 6px;
}

.adpl-btns {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.adpl-btn-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3.25rem;
    margin-right: 10px;
    background: none;
    border: 1px solid #4F6A84;
    border-radius: 0.5rem;
    color: #132041;
}

.adpl-btn-fav:hover {
    color: #C21631;
}

.adpl-btn-buy {
    height: 3rem;
    width: 12rem;
    outline: none;
    border: 1px solid #C21631;
    border-radius: 0.5rem;
    background-color: #C21631;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adp-ult-desc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.aud-t-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.aud-txt {
    color: #4F6A84;
}

.flfl {
    position: absolute;
    width: 50%;
    right: 0;
}

.at-l {
    margin-right: 4px;
}

.at-l-1 {
    margin-right: 1px;
}

.at-l-2 {
    margin-right: 7px;
}

.tl {
    letter-spacing: 5px;
}

.ts-fb {
    padding: 0;
}

.cmb-form-l {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cmb-form-l:hover .cmb-txt {
    color: #DB5472;
}

.cmb-form-l:hover .csm-ic {
    fill: #DB5472;
}

.cmb-form-inp {
    -webkit-appearance: none;
    position: absolute;
}

.cfi-cus {
    background: #ffffff;
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    margin-right: 4px;
    border: 1px solid #4F6A84;
}

.cc-chbx {
    border-radius: 0.2rem;
}

.cc-rad {
    border-radius: 50%;
}

.chb-ic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    height: auto;
    fill: #ffffff;
    display: none;
}

.cmb-form-l input:checked+.cfi-cus .chb-ic {
    display: block;
}

.cmb-form-l input:checked+.cfi-cus {
    background: #DB5472;
}

.af-btn {
    width: 100%;
    height: auto;
    border: 1px solid #C21631;
    border-radius: 0.375rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C21631;
}

/* header new */

.uc-header {
    position: relative;
}

.base-header {
    width: 100%;
    height: auto;
    position: relative;
}

.nes-links {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.nesl-item {
    width: 100%;
    height: auto;
    margin-left: 30px;
}

.url-pad {
    padding-top: 12px;
}

.nes-search {
    width: 100%;
    height: auto;
    margin-right: 18px;
    position: relative;
}

.nsl-inp {
    width: 275px;
    padding: 8px 70px 8px 20px;
    font-size: 18px;
    color: #4F6A84;
    outline: none;
    border: 1px solid #4F6A84;
    border-radius: 0.3rem;

    &:not(:placeholder-shown)~.nsli-btns>.nbi-btn-cro {
        visibility: visible;
    }
}

.nsl-inp::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.nsl-inp::placeholder {
    color: #4F6A84;
}

.nsl-inp:focus {
    border: 1px solid #C21631;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
}

.nsl-inp:hover {
    border: 1px solid #C21631;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(19, 31, 67, 0.2);
}

.blur-box {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    z-index: 3;
}

.nsli-btns {
    width: auto;
    height: 100%;
    position: absolute;
    right: 5%;
    top: 0;
    translate: (-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.nb-icobox {
    position: relative;
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert-dash {
    height: 50%;
    width: 1px;
    background-color: #4F6A84;
    margin: 0px 2px;
}

.nb-ico-cross {
    width: 18px;
    height: 18px;
    fill: #4F6A84;
}

.nb-ico-search {
    width: 18px;
    height: 18px;
    fill: #4F6A84;
}

.nb-ico-search:hover {
    fill: #C21631;
}

.nb-ico-cross:hover {
    fill: #C21631;
}

.nbi-btn {
    background: none;
    border: none;
    outline: none;
    border-radius: 0.375rem;
}

.nbi-btn-cro {
    background: none;
    border: none;
    outline: none;
    visibility: hidden;
    border-radius: 0.375rem;
}

.nbi-btn:hover,
.nbi-btn-cro:hover {
    background-color: aliceblue;
}

.nbi-btn:hover .nbi-s {
    fill: #C21631;
}

.nbi-btn-cro:hover .nb-ico-cross {
    fill: #C21631;
}

.benyak{
    background-color: #DB5472;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0px 2px;
    border-radius: 0.25rem;
}

.vis-filt{
    display: flex;
    width: auto;
    height: auto;
    margin-right: auto;
}

.vf{
    width: 100%;
    height: auto;
    padding: 2px 6px;
    background-color: #1A3856;
    border-radius: 0.25rem;
}

.qnf{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px auto;
}

/* Выделение */
p::-moz-selection{
    background-color: #DB5472;
}

p::selection{
    background-color: #DB5472;
}

span::-moz-selection{
    background-color: #DB5472;
}

span::selection{
    background-color: #DB5472;
}

button::-moz-selection{
    background-color: #DB5472;
}

button::selection{
    background-color: #DB5472;
}

input::-moz-selection{
    background-color: #DB5472;
}

input::selection{
    background-color: #DB5472;
}

label::-moz-selection{
    background-color: #DB5472;
}

label::selection{
    background-color: #DB5472;
}

b::-moz-selection{
    background-color: #DB5472;
}

b::selection{
    background-color: #DB5472;
}

s::-moz-selection{
    background-color: #DB5472;
}

s::selection{
    background-color: #DB5472;
}

a::-moz-selection{
    background-color: #DB5472;
}

a::selection{
    background-color: #DB5472;
}

img::-moz-selection{
    background-color: #DB5472;
}

img::selection{
    background-color: #DB5472;
}