{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock  %}

{% block modal_win_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <section class="section-showcase bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec font-color-all-white">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Авторизация</b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Вход</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase auth-sect">
        <div class="uniq-container auth-cont">
            <div class="auth-form-box">
                {% block auth %}
                    <div class="nice-bg">
                        <img src="{% static "deps/img/LoginBgImg.svg" %}" alt="Login bg" class="auth-img-bg">
                    </div>
                    <div class="auth-form">
                        <div class="auth-form-title">
                            <h1 class="fcb nom">Авторизация</h1>
                        </div>
                        <form class="form-container" action="{% url 'user:login' %}" method="post">
                            {% csrf_token %}
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value={{request.GET.next}}>
                            {% endif %}
                            <div class="form-input">
                                <label for="id_username" class="fcb l-title">Имя пользователя</label>
                                <input type="text" class="auth-inp" id="id_username" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="Введите имя или E-mail" required>
                            </div>
                            <div class="form-input">
                                <label for="id_password" class="fcb l-title">Пароль</label>
                                <input type="password" class="auth-inp pad-cus" id="id_password" name="password" placeholder="Введите пароль" required>
                                <div class="p-e-i">
                                    <svg class="pass-eye-ic" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 121.025 121.025" style="enable-background:new 0 0 121.025 121.025;" xml:space="preserve">
                                        <path d="M1.35,64.212c7.9,9.9,31.4,36.3,59.2,36.3c27.8,0,51.3-26.399,59.2-36.3c1.699-2.2,1.699-5.3,0-7.399 c-7.9-9.9-31.4-36.3-59.2-36.3c-27.8-0.1-51.3,26.3-59.2,36.2C-0.45,58.913-0.45,62.012,1.35,64.212z M60.55,36.413 c13.3,0,24,10.7,24,24s-10.7,24-24,24c-13.3,0-24-10.7-24-24S47.25,36.413,60.55,36.413z"></path>
                                        <circle cx="60.55" cy="60.413" r="12"></circle>
                                    </svg>
                                </div>
                                {% if form.non_field_errors %}
                                    <div class="alert-auth">
                                        <p class="fcr nom">Неправильно указан логин и/или пароль</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-input">
                                <button type="submit" class="abb">Войти</button>
                            </div>
                            <div class="form-input add-inf">
                                <div class="remm">
                                    <label class="remm-l">
                                        <input type="checkbox" class="chb-inp">
                                        <p class="fcb nom lh01">Запомнить меня</p>
                                    </label>
                                </div>
                                <div class="forg-p">
                                    <a href="#" class="forg-p-url">
                                        Забыли пароль?
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="reg-text">
                            <p class="fcb">
                                Еще нет аккаунта? <a href="{% url 'user:registration' %}" class="reg-url">Зарегистрироваться</a>
                            </p>
                        </div>
                    </div>
                {% endblock  %}
            </div>
        </div>
    </section>
{% endblock %}