{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <section class="section-showcase bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec font-color-all-white">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Авторизация</b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Вход</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase auth-sect">
        <div class="uniq-container auth-cont">
            <div class="auth-form-box">
                {% block auth %}
                    <div class="nice-bg">
                        <img src="{% static "deps/img/LoginBgImg.svg" %}" alt="Login bg" class="auth-img-bg">
                    </div>
                    <div class="auth-form">
                        <div class="auth-form-title">
                            <h1 class="fcb nom">Авторизация</h1>
                        </div>
                        <form class="form-container" action="{% url 'user:profile' %}">
                            <div class="form-input">
                                <label for="name" class="fcb l-title">Имя пользователя</label>
                                <input type="text" class="auth-inp" placeholder="Введите имя или E-mail" required>
                            </div>
                            <div class="form-input">
                                <label for="password" class="fcb l-title">Пароль</label>
                                <input type="password" class="auth-inp" placeholder="Введите пароль" required>
                            </div>
                            <div class="form-input">
                                <button type="submit" class="abb">Войти</button>
                            </div>
                            <div class="form-input add-inf">
                                <div class="remm">
                                    <label class="remm-l">
                                        <input type="checkbox" class="chb-inp">
                                        <p class="fcb nom lh01">Запомнить меня</p>
                                    </label>
                                </div>
                                <div class="forg-p">
                                    <a href="#" class="forg-p-url">
                                        Забыли пароль?
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="reg-text">
                            <p class="fcb">
                                Еще нет аккаунта? <a href="{% url 'user:registration' %}" class="reg-url">Зарегистрироваться</a>
                            </p>
                        </div>
                    </div>
                {% endblock  %}
            </div>
        </div>
    </section>
{% endblock %}