{% extends "users/profile.html" %}
{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

{% block title %}{{ title }}{% endblock  %}

{% block usermenu %}
    {% if url_slug == 'account' %}
        <div class="upi-title">
            <p class="user-nick fcb fw600 nom daj-c">Настройки аккаунта</p>
        </div>
        <div class="upi-content">
            <form action="{% url 'user:profile_menu' 'account' %}" class="user-sett-form" method="post">
                {% csrf_token %}
                <div class="usf-box">
                    <div class="fn-ln-box">
                        <div class="fi-flb-name">
                            <label for="id_first_name" class="fcb l-title">Имя</label>
                            <input type="text" class="auth-inp ffns-wid" id="id_first_name"
                                value="{{ form.first_name.value }}"
                                name="first_name" placeholder="Введите имя" required>
                                {% if form.first_name.errors %}
                                    <div class="alert-reg">
                                        <p class="reg-errs non-dec nom fcb f12">{{ form.first_name.errors.as_text }}</p>
                                    </div>
                                {% endif %}
                        </div>
                        <div class="fi-flb-lname">
                            <label for="id_last_name" class="fcb l-title">Фамилия</label>
                            <input type="text" class="auth-inp" id="id_last_name"
                                value="{{ form.last_name.value }}"
                                name="last_name" placeholder="Введите фамилию" required>
                                {% if form.last_name.errors %}
                                    <div class="alert-reg">
                                        <p class="reg-errs non-dec nom fcb f12">{{ form.last_name.errors.as_text }}</p>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="id_username" class="fcb l-title">Логин</label>
                        <input type="text" class="auth-inp" id="id_username"
                                value="{{ form.username.value }}"
                                name="username" placeholder="Введите логин" required>
                                {% if form.username.errors %}
                                    <div class="alert-reg">
                                        <p class="reg-errs non-dec nom fcb f12">{{ form.username.errors.as_text }}</p>
                                    </div>
                                {% endif %}
                    </div>
                    <div class="form-input">
                        <label for="id_email" class="fcb l-title">E-mail</label>
                        <input type="email" class="auth-inp" id="id_email"
                                value="{{ form.email.value }}"
                                name="email" placeholder="Введите e-mail" required>
                                {% if form.email.errors %}
                                    <div class="alert-reg">
                                        <p class="reg-errs non-dec nom fcb f12">{{ form.email.errors.as_text }}</p>
                                    </div>
                                {% endif %}
                    </div>
                    <div class="form-input">
                        <button type="submit" class="abb-save">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    {% elif url_slug == 'korzina' %}
        <div class="upi-title">
            <p class="user-nick fcb fw600 nom daj-c">Корзина товаров</p>
        </div>
        <div class="upi-content">
            <div class="cart-content" id="jq-cart-items-container">
                <div class="cc-space">
                    {% include 'carts/includes/included_cart.html' %}
                    {% if carts %}
                        <div class="custom-2">
                            <a href="{% url 'orders:create_order' %}" class="cart-btn-arr daj-c non-dec">
                                <p class="font-color-all-white nom f20 fw600">Оформить заказ</p>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elif url_slug == 'istoriya-zakazov' %}
        <div class="upi-title">
            <p class="user-nick fcb fw600 nom daj-c">История заказов</p>
        </div>
        <div class="upi-content">
            <div class="orders-hist-box">
                <div class="col-md-12">
                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                        <h3 class="text-center mb-4 fcb">Мои заказы</h3>
                        <!-- Разметка заказов -->
                        <div class="container">
                            <div class="accordion" id="accordionExample">
                                {% for order in orders %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ order.id }}">
                                            <button class="accordion-button fcb {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                                <p class="fcb nom">Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong class="mx-2 fcb">{{ order.status }}</strong></p>
                                            </button>
                                        </h2>
                                        <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <table class="table table-dark table-hover">
                                                    <thead class="custom-3">
                                                        <tr class="custom-3">
                                                            <th>Товар</th>
                                                            <th>Количество</th>
                                                            <th>Цена</th>
                                                            <th>Общая стоимость</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in order.orderitem_set.all %}
                                                            <tr>
                                                                <td><a class="text-white" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td>{{ item.price }}</td>
                                                                <td>{{ item.products_price }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}