  {% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <section class="section-showcase bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec font-color-all-white">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Авторизация</b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Регистрация</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase auth-sect">
        <div class="uniq-container auth-cont">
            <div class="auth-form-box">
                {% block auth %}
                    <div class="nice-bg">
                        <img src="{% static "deps/img/RegisterBgImg.svg" %}" alt="Register" class="auth-img-bg">
                    </div>
                    <div class="auth-form">
                        <div class="auth-form-title">
                            <h1 class="fcb nom">Регистрация</h1>
                        </div>
                        <form class="form-container" action="{% url 'user:registration' %}" method="post">
                            {% csrf_token %}
                            <div class="fn-ln-box">
                                <div class="fi-flb-name">
                                    <label for="id_first_name" class="fcb l-title">Имя</label>
                                    <input type="text" class="auth-inp ffns-wid" id="id_first_name"
                                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                        name="first_name" placeholder="Введите имя" required>
                                        {% if form.first_name.errors %}
                                            <div class="alert-reg">
                                                <p class="reg-errs non-dec nom fcb f12">{{ form.first_name.errors.as_text }}</p>
                                            </div>
                                        {% endif %}
                                </div>
                                <div class="fi-flb-lname">
                                    <label for="id_last_name" class="fcb l-title">Фамилия</label>
                                    <input type="text" class="auth-inp" id="id_last_name"
                                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                        name="last_name" placeholder="Введите фамилию" required>
                                        {% if form.last_name.errors %}
                                            <div class="alert-reg">
                                                <p class="reg-errs non-dec nom fcb f12">{{ form.last_name.errors.as_text }}</p>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                            <div class="form-input">
                                <label for="id_username" class="fcb l-title">Логин</label>
                                <input type="text" class="auth-inp" id="id_username"
                                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                    name="username" placeholder="Придумайте логин" required>
                                    {% if form.username.errors %}
                                        <div class="alert-reg">
                                            <p class="reg-errs non-dec nom fcb f12">{{ form.username.errors.as_text }}</p>
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="form-input">
                                <label for="id_email" class="fcb l-title">E-mail</label>
                                <input type="email" class="auth-inp" id="id_email"
                                    value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                    name="email" placeholder="Введите E-mail" required>
                                    {% if form.email.errors %}
                                        <div class="alert-reg">
                                            <p class="reg-errs non-dec nom fcb f12">{{ form.email.errors.as_text }}</p>
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="form-input">
                                <label for="id_password1" class="fcb l-title">Пароль</label>
                                <input type="password" class="auth-inp" id="id_password1"
                                    value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                    name="password1" placeholder="Придумайте пароль" required>
                                    {% if form.password1.errors %}
                                        <div class="alert-reg">
                                            <p class="reg-errs non-dec nom fcb f12">{{ form.password1.errors.as_text }}</p>
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="form-input">
                                <label for="password2" class="fcb l-title">Подтверждение пароля</label>
                                <input type="password" class="auth-inp" id="id_password2" 
                                    value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                    name="password2" placeholder="Подтвердите пароль" required>
                                    {% if form.password2.errors %}
                                        <div class="alert-reg">
                                            <p class="reg-errs non-dec nom fcb f12">{{ form.password2.errors.as_text }}</p>
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="form-input add-inf-la">
                                <div class="accept-tac">
                                    <label class="remm-lr">
                                        <input type="checkbox" class="chb-inp">
                                        Согласен(на) на обработку персональных данных
                                    </label>
                                </div>
                                <div class="accept-tac nom">
                                    <label class="remm-lr">
                                        <input type="checkbox" class="chb-inp">
                                        <p class="fcb nom">Я принимаю условия <a href="#" class="lic-agr"> лицензионного соглашения</a></p>
                                    </label>
                                </div>
                            </div>
                            <div class="form-input">
                                <button type="submit" class="abb abb-reg">Зарегистрироваться</button>
                            </div>
                            <div class="form-input add-inf">
                                
                            </div>
                        </form>
                        <div class="reg-text">
                            <p class="fcb">
                                Уже есть аккаунт? <a href="{% url 'user:login' %}" class="reg-url">Войти</a>
                            </p>
                        </div>
                    </div>
                {% endblock  %}
            </div>
        </div>
    </section>
{% endblock %}
