{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <section class="section-showcase bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec font-color-all-white">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Авторизация</b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Регистрация</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase auth-sect">
        <div class="uniq-container auth-cont">
            <div class="auth-form-box">
                {% block auth %}
                    <div class="nice-bg">
                        <img src="{% static "deps/img/RegisterBgImg.svg" %}" alt="Register" class="auth-img-bg">
                    </div>
                    <div class="auth-form">
                        <div class="auth-form-title">
                            <h1 class="fcb nom">Регистрация</h1>
                        </div>
                        <form class="form-container" action="{% url 'user:profile' %}">
                            <div class="form-input">
                                <label for="name" class="fcb l-title">Имя пользователя</label>
                                <input type="text" class="auth-inp" placeholder="Введите имя" required>
                            </div>
                            <div class="form-input">
                                <label for="password" class="fcb l-title">Пароль</label>
                                <input type="password" class="auth-inp" placeholder="Придумайте пароль" required>
                            </div>
                            <div class="form-input">
                                <label for="password" class="fcb l-title">Подтверждение пароля</label>
                                <input type="password" class="auth-inp" placeholder="Подтвердите пароль" required>
                            </div>
                            <div class="form-input add-inf-la">
                                <div class="accept-tac">
                                    <label class="remm-lr">
                                        <input type="checkbox" class="chb-inp">
                                        Согласен(на) на обработку персональных данных
                                    </label>
                                </div>
                                <div class="accept-tac nom">
                                    <label class="remm-lr">
                                        <input type="checkbox" class="chb-inp">
                                        <p class="fcb nom">Я принимаю условия <a href="#" class="lic-agr"> лицензионного соглашения</a></p>
                                    </label>
                                </div>
                            </div>
                            <div class="form-input">
                                <button type="submit" class="abb abb-reg">Зарегистрироваться</button>
                            </div>
                            <div class="form-input add-inf">
                                
                            </div>
                        </form>
                        <div class="reg-text">
                            <p class="fcb">
                                Уже есть аккаунт? <a href="{% url 'user:login' %}" class="reg-url">Войти</a>
                            </p>
                        </div>
                    </div>
                {% endblock  %}
            </div>
        </div>
    </section>
{% endblock %}
