{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

{% block title %}{{ title }}{% endblock  %}

{% block content %}
  <section class="section-showcase bc-sect">
    <div class="uniq-container bc-cont">
      <div class="bread-crumbs">
        <div class="bc-text">
          <p class="font-color-all-white nom">
            <b><a href="{% url 'main:home' %}" class="non-dec font-color-all-white">Главная</a></b>
          </p>
          <span class="font-color-all-white bc-slash"> / </span>
        </div>
        <div class="bc-text">
          <p class="font-color-all-white nom">
            <b>Корзина товаров</b>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-showcase" id="blue-sect">
    <div class="uniq-container cart-uc">
      <div class="cart-us-content">
        <div class="cuc-left-box">
          <div class="cart-content" id="jq-cart-items-container">
            {% include 'carts/includes/included_cart.html' %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock  %}