{% extends 'main/index.html' %}
{% load static %}

{% block title%}{{ title }}{% endblock%}

{% block content %}
    <section class="section-showcase bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>О компании</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase">
        <div class="uniq-container abt-conta">
            <div class="ab-split-box">
                <div class="abt-img-bg">
                    <img src="{% static 'deps/img/Muiv-Brand.png' %}" alt="About muivb" class="aib">
                </div>
                <div class="asb-cont">
                    <h1 class="font-color-all-white fw500 f26 osk">Общие сведения о компании</h1>
                    <div class="intell-list">
                        <p class="asb-tit f16 fw500 font-color-all-white nom">Полное наименование</p>
                        <p class="asb-txt f16 font-color-all">ООО «МУИВ Бренд МСК»</p>
                        <p class="asb-tit f16 fw500 font-color-all-white nom">ИНН/КПП</p>
                        <p class="asb-txt f16 font-color-all">7955566175/288058116</p>
                        <p class="asb-tit f16 fw500 font-color-all-white nom">Юридический адрес</p>
                        <p class="asb-txt f16 font-color-all">г. Москва, 2-й Кожуховский пр-д, 12, стр. 1</p>
                        <p class="asb-tit f16 fw500 font-color-all-white nom">Наименование банка</p>
                        <p class="asb-txt f16 font-color-all">ПАО «Сбербанк России» г. Москва</p>
                        <p class="asb-tit f16 fw500 font-color-all-white nom">БИК</p>
                        <p class="asb-txt f16 font-color-all">044525225</p>
                        <p class="asb-tit f16 fw500 font-color-all-white nom tstx">(Тестовые сгенерированные данные)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-showcase adesc-sect">
        <div class="uniq-container adesc-conta">
            <div class="adesc-cont">
                <div class="abt-title">
                    <h1 class="font-color-all-white">О нашей компании</h1>
                </div>
                <div class="abt-content">
                    <p class="abt-big-txt font-color-all f16 fw500" align="justify">
                        MUIV Brand - это успешная и надежная компания, которая специализируется на продаже брендированных товаров. Наша основная цель - предоставлять нашим клиентам высококачественные продукты, которые помогут повысить бренд и имидж их компаний.
                        Компания MUIV Brand была основана в 1713г. Боровиковым Ильей Денисовичем, который начал получать опыт работы в области дизайна, маркетинга и производства. С тех пор его проект стал лидером среди вузов на рынке брендированной продукции, предлагая своим клиентам широкий ассортимент товаров, которые отвечают самым высоким стандартам качества и дизайна.
                        Наша команда MUIV Brand состоит из талантливых и опытных специалистов, которые работают вместе, в лице одного человека - основателя, чтобы создать и предложить нашим клиентам уникальные решения в области брендированной одежды, канцелярии и аксессуаров. Наши дизайнеры и производители постоянно следят за последними трендами и инновациями в области дизайна и производства, чтобы обеспечить нашим клиентам только самые лучшие продукты.
                    </p>
                    <div class="bef-tit">
                        <p class="abt-big-txt font-color-all f16 fw500" id="mic-tit" align="justify">
                            Основные направления деятельности MUIV Brand
                        </p>
                    </div>
                    <p class="abt-big-txt font-color-all f16 fw500" align="justify">
                        Брендированная одежда: Мы предлагаем широкий ассортимент брендированной одежды, включая рубашки, свитеры, куртки, шарфы, шорты и другие виды одежды, которые могут быть напечатаны или вышиты вашим логотипом или слоганом.
                    </p>
                    <p class="abt-big-txt font-color-all f16 fw500" align="justify">
                        Канцелярия: Наша коллекция брендированной канцелярии включает в себя папки, блокноты, калькуляторы, пеналы, флешки и другие предметы, которые помогут вашей компании выделиться среди конкурентов.
                    </p>
                    <p class="abt-big-txt font-color-all f16 fw500" align="justify">
                        Аксессуары: Мы предлагаем разнообразные аксессуары, такие как флашки, сумки, ключевые переводчики, часы и многое другое, которые могут быть напечатаны или вышиты вашим логотипом или слоганом.
                    </p>
                    <p class="abt-big-txt-nom font-color-all f16 fw500" align="justify">
                        Наша компания MUIV Brand работает с различными клиентами, включая малые и средние предприятия, крупные корпорации, некоммерческие организации и государственные учреждения. Наши клиенты могут заказать продукцию в любых количествах и по индивидуальным запросам.
                        Мы гордимся своей репутацией на рынке и надеемся продолжать предоставлять нашим клиентам только лучшие качества и услуги. Если вы ищете надежного партнера для покупки брендированной одежды, канцелярии и аксессуаров, вы можете поверьте в MUIV Brand - ваш надежный выбор!
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}