{% load static %}
{% load goods_tags %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'deps/img/icons/MainLogoWT.ico' %}" sizes="236x249">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'deps/css/main.css'%}">
</head>
<body>
    <div class="main-container">
        <header class="base-header">
            <div class="nav-elements">
                <a href="{% url 'main:home' %}"><img class="logo-header" src="{% static 'deps/img/MainLogo.svg' %}" alt="Logo"></a>
                <a href="{% url 'main:home' %}" class="non-dec"><b class="fcb nf nav-url">Главная</b></a>
                <div class="temp-box-catalog">
                    <button class="catalog-menu" class="non-dec"><b class="fcb nf cat-lab nav-url">Каталог &or;</b></button>
                    <div class="menu-box">
                        {% tag_categories as categories%}
                        {% for cat in categories %}
                            <a href="{% url 'catalog:index' cat.slug %}" class="h-menu ffc">{{cat.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'main:news' %}" class="non-dec"><b class="fcb nf nav-url">Новости</b></a>
                <a href="{% url 'main:support' %}" class="non-dec"><b class="fcb nf nav-url">Поддержка</b></a>
                <a href="{% url 'main:login' %}" class="nav-url nu-login">
                    <img src="{% static 'deps/img/icons/UserIcon.svg'%}" alt="" class="usericon">
                    <b class="font-color-all-white nf nom">Вход</b>
                </a>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer-cls">
            <div class="footer-container">
                <div class="footer-content">
                    <div class="f-c-box">
                        <div class="f-img">
                            <a href="{% url 'main:home' %}">
                                <img src="{% static "deps/img/MainLogoWhite.svg" %}" alt="Logo" class="f-logo-company">
                            </a>
                        </div>
                        <div class="f-c-text">
                            <p class="ffc nom ftww" align="start">Заказывайте специальную продукцию университета на нашем удобном портале!<br /> Мы в соц. сетях:</p>
                        </div>
                        <div class="f-icons">
                            <a href="https://github.com/ZectOff" class="f-ic">
                                <img src="{% static 'deps/img/icons/GitIcon.svg' %}" alt="Git" class="f-icon">
                            </a>
                            <a href="#" class="f-ic">
                                <img src="{% static 'deps/img/icons/VkIcon.svg' %}" alt="Vk" class="f-icon">
                            </a>
                            <a href="#" class="f-ic">
                                <img src="{% static 'deps/img/icons/TelegramIcon.svg' %}" alt="Tg" class="f-icon">
                            </a>
                        </div>
                    </div>
                    <div class="f-c-box">
                        <div class="f-c-title">
                            <p class="font-color-all-white font-weight nom ftt">Компания</p>
                        </div>
                        <div class="ft-urls">
                            <a href="{% url 'main:about' %}" class="f-c-url">О компании</a>
                            <a href="#" class="f-c-url">Услуги компании</a>
                            <a href="#" class="f-c-url">Вакансии</a>
                            <a href="#" class="f-c-url">Связаться с нами</a>
                        </div>
                    </div>
                    <div class="f-c-box">
                        <div class="f-c-title">
                            <p class="font-color-all-white font-weight nom ftt">Клиент</p>
                        </div>
                        <div class="ft-urls">
                            <a href="#" class="f-c-url">Поддержка</a>
                            <a href="#" class="f-c-url">Последние новости</a>
                            <a href="#" class="f-c-url">Сведения о компании</a>
                            <a href="#" class="f-c-url">Кто мы такие</a>
                        </div>
                    </div>
                    <div class="f-c-box">
                        <div class="f-c-title">
                            <p class="font-color-all-white font-weight nom ftt">10% за подписку</p>
                        </div>
                        <div class="f-c-text">
                            <p class="ffc nom ftww" align="start">Подпишитесь на рассылку и получите скидку 10% по промокоду.</p>
                        </div>
                        <form action="#" class="ft-sub-form">
                            <input type="email" placeholder="Введите адрес электронной почты" class="sub-inp">
                            <button class="ft-ent-btn" type="submit">
                                <img src="{% static 'deps/img/icons/EntBtn.svg' %}" alt="Ent ico" class="feb-i">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p class="f-t-cr nom">
                        © Copyright 2024 - MUIVBrand, Все права защищены.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html> 