{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock  %}



{% block content %}
    <section class="section-showcase bc-sect" id="spec-bc-sect">
        <div class="uniq-container bc-cont">
            <div class="bread-crumbs">
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b><a href="{% url 'main:home' %}" class="non-dec">Главная</a></b>
                    </p>
                    <span class="font-color-all-white bc-slash"> / </span>
                </div>
                <div class="bc-text">
                    <p class="font-color-all-white nom">
                        <b>Тестирование и отладка</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock  %} 