{% load static %}
<div class="rec-list-box">
    {% for block in recommendation_blocks %}
        <div class="rlb-left">
            <div class="rlb-left-shadow">
                <div class="rlb-title">
                    <p class="font-color-all-white nom fw600 f26 rlb-tit-txt">{{ block.category_name }}</p>
                </div>
                <div class="rlb-imgs-box">
                    <div class="rib-items">
                        {% for product in block.products %}
                            <div class="rib-item-{{ forloop.counter }}">
                                <div class="ribi-img ri-color-{% if forloop.parentloop.counter == 1 %}{{ forloop.counter }}{% else %}{{ forloop.counter|add:4 }}{% endif %}">
                                    <a href="{% url 'catalog:product' product.slug %}" class="src-prod">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="ribi-img-self">
                                        {% else %}
                                            <img src="{% static 'deps/img/PrdWOImg.svg' %}" alt="{{ product.name }}" class="ribi-img-self">
                                        {% endif %}
                                    </a>
                                </div>
                                <a href="#" class="ribi-btn font-color-all-white f18 fw600 nom non-dec add-to-cart" data-product-id="{{ product.id }}">В корзину</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'catalog:index' block.category_slug %}" class="rlb-btn fw600 f26 nom non-dec">Смотреть все</a>
            </div>
        </div>
    {% endfor %}
</div>
